body {
  background-color: #fcd6e1;
  font-family: "Work Sans", sans-serif;
  color: #2c3e50;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #62376f;
  margin-bottom: 30px;
}
input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  transition: all 0.2s ease-in-out; 
}
input:hover {
  border-color: #aaa8a8;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); 
  transform: scale(1.02); 
}
input:focus {
  outline: none; 
  border-color: #ccc; 
  box-shadow: 0 0 6px #ccc;
  transition: all 0.2s ease-in-out;
}
.form-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(96, 47, 138, 0.3);
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
}

.lista-container{
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(96, 47, 138, 0.3);
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
}

h2 {
  color: #1E3231;
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.form-livro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-livro label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.form-livro input[type="text"],
.form-livro input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  transition: all 0.2s ease-in-out; 
}
.form-livro input[type="number"]:hover {
  border-color: #aaa8a8;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); 
  transform: scale(1.02); 
}

.checkbox {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  grid-column: span 2;
  background-color: #2ecc71;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ecf0f1;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: 600;
}

.status.disponivel {
  background-color: #d4efdf;
  color: #1e8449;
}

.status.indisponivel {
  background-color: #f5b7b1;
  color: #922b21;
}

.logoheader {
  display: flex;
  flex-direction: column; /* logo em cima do título */
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}